@model EventFrameHandler.Models.EventModelView
@{
    ViewBag.Title = "Events";
    //Layout = null;
}

<h2>New Events</h2>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@*This is the table of data for new events*@
<div class="container-fluid text-nowrap" id="NewEventsContainer" style="width:100%">
    <table id="NewEvents" class="container-fluid table-striped table-responsive text-nowrap" style="width:auto">
        <thead>
            <tr>
                <th>Equipment</th>
                <th>Equipment Number</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Duration</th>
                <th>Site</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
    </table>
</div>

@*Space to display annotation fields*@
<div class="container-fluid text-nowrap table-bordered table-responsive text-nowrap" id="annotationContainer" style="width:auto">
</div>

@*Self annotation/Create Work Order window*@
@*<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">

                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"></h3>

            </div>

            <div class="modal-body" id="myModalBodyDiv">

            </div>

            <div class="modal-footer">

            </div>

        </div>

    </div>
</div>*@

@section scripts {

    @*scripts for Modal window*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/moment.js"></script>

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>

    <script>
        $(document).ready(function () {
            //debugger

            //Enable all tooltips in document
            $('[data-toggle="tooltip"]').tooltip();

            //Setup JQuery UI date picker format to dd/mm/yy
            $.datepicker.regional[""].dateFormat = 'dd/mm/yy';
            $.datepicker.setDefaults($.datepicker.regional['']);

            //Datatable for new events
            var NewEventsTable = $("#NewEvents").DataTable({

                "ajax": {
                    "type": "GET",
                    "url": "/Event/GetEvents",
                    "datatype": "json",
                    "bServerSide": true,
                    "bProcessing": true,
                    "bFilter": true,
                },

                "rowId": function (data) {
                    return data.uniqueID;
                },

                "responsive": true,

                "autoWidth": false,

                "scrollX": false,

                "columnDefs": [

                ],

                "columns": [
                    { "data": "equipmentName" },
                    { "data": "equipmentNumber" },
                    {
                        "data": "startTime",
                        "render": function (data) {
                            if (data === null) return "";
                            var dt = moment(data).format("YYYY/MM/DD HH:mm:ss"); //json string
                            return dt;
                        }
                    },
                    {
                        "data": "endTime",
                        "render": function (data) {
                            if (data === null) return "";
                            var dt = moment(data).format("YYYY/MM/DD HH:mm:ss"); //json string
                            return dt;
                        }
                    },
                    { "data": "duration" },
                    { "data": "site" },
                    {
                        "data": null,
                        "sortable": false,
                        "render": function (data, type, full) {
                            return '<button><a class="glyphicon glyphicon-pencil" href=# id="SelfAnnotate" data-toggle="tooltip" data-placement="top" title="First Responder Annotation"></a></button> <button><a class="glyphicon glyphicon-wrench" id="CreateWorkOrder" href=# data-toggle="tooltip" data-placement="top" title="Create Work Order"></a></button>';
                        }
                    },
                ]

                //Remove default search datatables using DOM positioning
                //"dom": '<"top"l>rt<"bottom"ip><"clear">',

                //Add search control
                //"fnInitComplete": function (oSettings, json) {
                //    addSearchControl(json)
                //}
            });

            // Setup - add a text input to each footer cell -NOT WORKING YET
            function addSearchControl(json) {
                $('#NewEvents tfoot th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                    //$('#NewEvents tfoot th').appendTo('#NewEvents thead');

                    // Apply the search
                    NewEventsTable.columns().every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });

                });
            }

            //Listener for when self annotation is clicked
            $('body').on('click', '#SelfAnnotate', function () {
                //debugger
                var row = $(this).parents('tr')[0];
                var id = NewEventsTable.row(row).id();
                var site = NewEventsTable.row(site).id();
                //debugger

                var $row = $(this).closest("tr"),                   // Finds the closest row <tr>
                    $tds = $row.find("td:nth-child(6)");            // Finds the 6th <td> element

                $.each($tds, function () {                           // Visits every single <td> element
                    $site = $(this).text();                         // Prints out the text within the <td>
                });

                var url = "/Event/SetFirstResponderPartial?EventId=" + id + "&Site=" + encodeURIComponent($site);
                $("#annotationContainer").load(url, function () {
                    //$("#myModal").modal("show");
                });

                $('html, body').animate({
                    scrollTop: $("#annotationContainer").offset().top
                }, 1000);
                
            });

            //Listener for when create workorder is clicked
            $('body').on('click', '#CreateWorkOrder', function () {
                var row = $(this).parents('tr')[0];
                var id = NewEventsTable.row(row).id();

                var $row = $(this).closest("tr"),                   // Finds the closest row <tr>
                    $tds = $row.find("td:nth-child(6)");            // Finds the 6th <td> element

                $.each($tds, function () {                           // Visits every single <td> element
                    $site = $(this).text();                         // Prints out the text within the <td>
                });

                var url = "/Event/SetWorkOrderPartial?EventId=" + id + "&Site=" + encodeURIComponent($site);
                $("#myModalBodyDiv").load(url, function () {
                    //$("#myModal").modal("show");
                });
            });

            //Adjust container for new events
            $('#NewEventsContainer').css('display', 'block');
            NewEventsTable.columns.adjust().draw();

        });
    </script>
}

@*//dynamically set title of modal
    //$('#myModal').on('show.bs.modal', function (event) {
    //    var button = $(event.relatedTarget); // Button that triggered the modal
    //    var modal = $(this);
    //    var title = button.data('title');
    //    modal.find('.modal-title').text(title);
    //    alert(title);
    //});*@

@*<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>*@


@*<script type="text/javascript">

        function SetFirstResponderAnnotation() {
            $.ajax({
                type: "Post",
                url: "/Event/SetFirstResponderAnnotation",
                contentType:"html",
                    success: function(response) {

                    }
            })
        }
        ////test function
        //function GetEquipmentNumberList() {
        //    debugger
        //    $.ajax({
        //        type: "Post",
        //        url: "/Event/GetEquipmentNumberList?EquipmentType=" + "Conveyor",
        //        contentType: "html",
        //        success: function (response) {
        //            debugger
        //            $("#equipNumList").empty();
        //            $("#equipNumList").append(response);
        //        }
        //    })
        //}
    </script>*@

