@model EventFrameHandler.Models.EquipmentModelView

<option value="">--Select Equipment Number--</option>
@if (Model.equipNumberList != null)
{
    foreach (var item in Model.equipNumberList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}